<!doctype html>
<html>
<title>test page</title>
<% for (let css of csses) { %>
    <link rel="stylesheet" href="<%= css %>">
<% } %>
</html>
<body>
<% for (let js of jses) { %>
    <script src="<%= js %>"></script>
<% } %>
</body>